


    <h1>About</h1>
    <p>
        www.xeno-canto.org ("Xeno-canto", "XC") is a website for sharing recordings of wildlife sounds from all across the world. It was started in 2005 by <a href="https://xeno-canto.org/contributor/OH38YHKJBS">Bob Planqué</a> and <a href="https://xeno-canto.org/contributor/AEFZWKWLMO">Willem-Pier Vellinga</a> (see below for some <a href="#history">history</a>). Xeno-canto is maintained by a small team of admins (<a href="https://xeno-canto.org/contributor/OH38YHKJBS">Bob</a>, <a href="https://xeno-canto.org/contributor/AEFZWKWLMO">WP</a>, <a href="https://xeno-canto.org/contributor/HMLZGZJENG">Sander Pieterse</a>, <a href="https://xeno-canto.org/contributor/OJMFAOUBDU">Jonathon Jongsma</a> and <a href="https://xeno-canto.org/contributor/PTYTXQRLSZ">Rolf de By</a>) with crucial assistance from <a href="//naturalis.nl">Naturalis Biodiversity Center</a>, especially <a href="https://xeno-canto.org/contributor/LNPVBAPBQQ">Ruud Altenburg</a>, and <a href="https://xeno-canto.org/contributors">all of the xeno-canto community</a>. Xeno-canto is run by the Xeno-canto foundation (or officially <i>Stichting Xeno-canto voor natuurgeluiden</i>), a charity (Dutch "ANBI") from the Netherlands.
    </p>
    <h2>Aims</h2>
    <p>
        Xeno-canto uses the ever evolving possibilities of the internet to:
    </p><ul>
        <li>
            popularise wildlife sound recording worldwide,
        </li>
        <li>
            improve accessibility of wildlife sounds,
        </li>
        <li>
            &amp; increase knowledge of wildlife sounds.
        </li>
    </ul>
    So, the recordings are here for
    <ul>
        <li>enjoyment,</li>
        <li>education,</li>
        <li>conservation,</li>
        <li> &amp; science.</li>
    </ul>
    It works. Xeno-canto recordings are used in so many places and for so many purposes that it is impossible to give an overview.
    Personally we are very proud of XC's contribution to BirdCLEF since 2014 and its impact on bird-sound recognition,
    for which see <a href="https://scholar.google.com/scholar?hl=nl&amp;as_sdt=0%2C5&amp;q=%22xeno+canto%22+clef&amp;btnG=">this Google Scholar page</a>.
    <p></p>
    <h2>Principles</h2>
    <p>
        Xeno-canto has a number of basic principles.
    </p><ul>
        <li>
            <i><b>Everyone</b></i> can make a valuable contribution, by adding recordings of course, but also by sharing opinions,
            questioning identifications, solving mystery recordings, spotting bugs, programming, offering advice or experience,
            and by spreading the word.
        </li>
        <li>
            Recordings are <i><b>shared</b></i> under various Creative Commons licenses. These differ between recordings
            (they are always shown) but in general the allow distribution provided <b>recordists are credited</b> and
            provided <b>no commercial proceeds are sought</b>. Read more about them in the <a href="https://xeno-canto.org/about/terms">terms of use</a>.
        </li>
        <li>
            <i><b>Any</b></i> recording is welcome. If you want to add your recording, of whatever quality, it is welcome, and will remain in the collection <b> provided the identification is 100% correct</b>.
            (If the identification is not correct you will likely at some point receive an email that a fellow user has questioned the ID.)
        </li>
        <li>
            Xeno-canto values argued opinions, not authority. Identification of recordings remains tentative,
            and recordings are continuously discussed and revised. When the identification of some recording is questioned,
            the recording is taken out of the main collection until the matter is resolved.
            These discussions are always visible on the recording's page and in the forum.
        </li>
        <li>Wherever possible we use open source resources.</li>
    </ul>
    <p></p>
    <p>
    </p><h2>Contributing</h2>

    Now, what is the point of uploading recordings when already 700,000+ (August 2022) are there?<br>
    Simple: a <b><i>lot</i></b> is still missing. XC aims to set up a collection of <b><i>all</i></b> wildlife sounds,
    representing
    <ul>
        <li>
            all taxa (rather than all species),
        </li>
        <li>
            their complete repertoire,
        </li>
        <li>
            all of the geographic variability,
        </li>
        <li>
            at all stages of development.
        </li>
    </ul>

    And organise that collection in such a way that XC becomes
    <ul>
        <li>
            the ultimate wildlife sound guide.
        </li>
    </ul>
    <p>
        <b>What does this mean for XC?</b>
        <br>

    </p><ul>
        <li>
            <b>XC is a long term project</b>
            <br>
            To collect all those sounds we have to be in it for the long term. XC continuously invests in
            <ul>
                <li>up-to-date durable hardware &amp; software,</li>
                <li>good relations with sound recording enthousiasts world-wide.</li>
            </ul>
        </li>

        <li>
            <b>XC needs to work on identification &amp; classification</b>
            <br>
            Interestingly, at this moment we really do not know very well what is in the collection!
            Suppose you upload a sound, we should really be figuring out if it is already represented in the collection,
            by establishing to what extent it differs from what is present.
            We need to find ways to
            <ul>
                <li>recognise</li>
                <li>and classify</li>
            </ul>
            the content of the recordings. XC wants to try both <b>computational</b> as well as <b>crowdsourcing</b> solutions.
        </li>

        <li>
            <b>XC needs open access</b>
            <br>
            We strongly feel that the best way of achieving the aims of XC is to open up the collection, and give the community
            the opportunity to figure out ways how to contribute to it and to make use of it.
            It has worked for us very well in the past and brought us to where we are now. We'll keep at it.
        </li>
    </ul>


   