
:root {
    color-scheme: light dark;
    --bg: light-dark(white, #100c08);
    --font-color: light-dark(#100c08, rgb(230, 230, 230)) ;
    --bg-highlight: light-dark(rgb(247, 248, 247), rgb(62, 60, 60));
    --border-color: #100c08;
    --border-radius: 0.25rem;
    --font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,"Segoe UI Emoji","Apple Color Emoji","Noto Color Emoji",sans-serif;

}

body {
    font-family: var(--font-family);
    padding: 0 40px;
    color: var(--font-color);
    background: var(--bg);
    line-height: 1.4;
    max-width: 800px;
    margin: 20px auto
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    margin-right: 10px;
}

fieldset
{
    margin-bottom:10px
}

table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th
{
    border: 1px solid var(--border-color);
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: var(--bg-highlight);
}
